<form>
    <mat-form-field class="input-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
        <mat-label>Quality</mat-label>
        <input matInput placeholder="Quality" type="number">
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
        <mat-label>Sell In</mat-label>
        <input matInput placeholder="Sell In" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary">Add</button>
</form>